NEXT_PUBLIC_GOOGLE_CLIENT_ID="421953722744-6ff80ol3ekua2o94s0adqo9mq8istfm0.apps.googleusercontent.com"
NEXT_PUBLIC_API_URL="http://localhost:4000"

NEXT_PUBLIC_GITHUB_CLIENT_ID="Ov23lifGBSc8NaJVQLuu"
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="pk_test_51TaOkPKK0OQ7CMIiwZclwHkuu2UQA7Qh1hEc1g3uk77uFDMPND4pn4nczZA6cu9Y26cEebtFszrSSf5wxodbarRx00YMzkxdXR"
NEXT_PUBLIC_PAYPAL_CLIENT_ID="AUTKdllVbCHc1BuPEAC4iO3ta0ahT-oCFzkLuLxDJu38DgMruUzCzFxst-gtvN3u-RSD2lFl-acS2Huo"
