DATABASE_URL="postgresql://admin:secretpassword123@localhost:5433/tecsup_academy_db?schema=public"
REDIS_URL="redis://localhost:6379"
MONGO_URI="mongodb://localhost:27017/tecsup_reviews"

EMAIL_USER="martin.barreto.com@gmail.com"
EMAIL_PASS="nbnlpwwdutuocpmt"

JWT_SECRET="TecsupAcademy_Secret_Key_2026_Barretito"


GOOGLE_CLIENT_ID="421953722744-6ff80ol3ekua2o94s0adqo9mq8istfm0.apps.googleusercontent.com"

GITHUB_CLIENT_ID="Ov23lifGBSc8NaJVQLuu"
GITHUB_CLIENT_SECRET="3b320db31f11e1d45383ec6805d2bc9e660d254d"

CLOUDINARY_CLOUD_NAME="dsp3zjbs9"
CLOUDINARY_API_KEY="381561217988913"
CLOUDINARY_API_SECRET="ALQyGQvQ8sXuDXI0jUgZ3wEhJSU"

STRIPE_SECRET_KEY="your_stripe_secret_key"
STRIPE_WEBHOOK_SECRET="whsec_3ca07a38d4e4c8c21c4a24e703ce76960f70060ed4b45a3939a127ebdb291293"

PAYPAL_CLIENT_ID="AUTKdllVbCHc1BuPEAC4iO3ta0ahT-oCFzkLuLxDJu38DgMruUzCzFxst-gtvN3u-RSD2lFl-acS2Huo"
PAYPAL_CLIENT_SECRET="EOzQfkKnjDV25DkFMF2Up5ADrKvOjQKTWX3XyldLI1KQ4zBNjIaQraroVcJngkCiGWx8fV8AJWuChaBc"
PAYPAL_ENV="sandbox"

