
# Puerto del servidor
PORT=4000

# Conexión a Base de Datos 
DATABASE_URL="postgresql://admin:secretpassword123@localhost:5433/tecsup_academy_db?schema=public"
REDIS_URL="redis://localhost:6379"


EMAIL_USER="gmail aqui"
EMAIL_PASS="contraseña aqui"